<div class="container">
  <div class="sidebar">
    <ul class="logos">
      <li class="logo"><a href="/docs"><i class="fa-solid fa-house"></i></a></li>
      <li class="logo"><a href="/docs#show"><i class="fa-solid fa-file"></i></a></li>
      <li class="logo"><a href="/chats"><i class="fa-solid fa-comments"></i></a></li>
      <li class="logo"><a href="/settings"><i class="fa-solid fa-gear"></i></a></li>
    </ul>
</div>
  <div class="leftside">
    <div class="cards-container">
      <h1>Your DocStash</h1>
      <h5>Filter here</h5>
      <div class="cards">
        <% @docs.each do |doc| %>
          <div class="card">
            <%= doc.file_name %>
            <p>Description</p>
            <div class="new-chat-button">
              <%= link_to new_chat_path(doc: doc), class: "btn btn-warning btn-new-chat" do %>
                New Chat
              <% end %>
            </div>
          </div
        <% end %>
      </div>
    <div class="doc-upload">
      <%= simple_form_for @doc do |f| %>
        <%= f.input :doc_asset, as: :file %>
        <%= f.button :submit, "Submit" %>
      <% end %>
    </div>
    </div>

  </div>

  <div class="rightside">
    <%= render "shared/chats" %>
  </div>

</div>
