<div class="container">
  <div class="leftside">
    <div class="cards-container">
      <h1>Your DocStash</h1>
      <h5>Filter here</h5>
      <div class="cards">
        <% @docs.each do |doc| %>
          <div class="card">
            <%= doc.file_name %>
            <p>Description</p>
            <div class="new-chat-button">
              <%= link_to new_chat_path(doc: doc), class: "btn btn-warning btn-new-chat" do %>
                New Chat
              <% end %>
            </div>
          </div
        <% end %>
      </div>
    <div class="doc-upload">
      <%= simple_form_for @doc do |f| %>
        <%= f.input :doc_asset, as: :file %>
        <%= f.button :submit, "Submit" %>
      <% end %>
    </div>
    </div>
  </div>

  <div class="rightside">
    <%= render "shared/chats" %>
  </div>

</div>
