<div class="container">
  <%= render 'shared/sidebar' %>
  <div class="leftside">
    <div class="cards-container">
      <h1>Your DocStash</h1>
      <div class="cards">
        <% @docs.each do |doc| %>
          <div class="card">
            <%= doc.file_name %>
            <p>Description</p>
            <div class="new-chat-button">
              <%= link_to "New Chat", new_chat_path(doc: doc), class: "btn btn-warning btn-new-chat" %>
            </div>
            <div class="delete-button">
              <%= link_to "Delete", doc_path(doc), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="doc-upload">
      <h1>Add to Your DocStash</h1>
      <%= render "shared/doc-upload" %>
    </div>
    </div>

  <div class="rightside">
    <%= render "shared/active-chat-session" %>
  </div>

</div>
