<div class="container chatroom" data-controller="chat-subscription" data-chat-subscription-chat-id-value="<%= @chat.id %>">
<div class="chat-info d-flex" data-controller="chat-icon" >
  <i class="fa-regular fa-circle-question" data-action="mouseover->chat-icon#showText mouseleave->chat-icon#hideText"></i>
  <div class="d-none" data-chat-icon-target="show">
    <% if @chat.docs.count == 1 %>
      <p> You're chatting with doc <% @chat.docs.each do |doc| %> '<%= doc.file_name %>' <% end %>
      in your '<%= @chat.chat_name.capitalize %>' session</p>
    <% elsif @chat.docs.count > 1 %>
      <p> You're chatting with docs <% @chat.docs.each do |doc| %> <span class="highlighted-text">'<%= doc.file_name %>'</span> <% end %>
      in your '<%= @chat.chat_name.capitalize %>' session</p>
    <% else %>
    <p> You're chatting in your '<%= @chat.chat_name.capitalize %>' session</p>
    <% end %>
  </div>
</div>

  <div class="messages" data-chat-subscription-target="messages">
    <% @chat.messages.each do |message| %>
      <div id="message-<%= message.id %>" class="message <%= message.from_ai? ? 'ai-message' : 'user-message' %>">
        <small>
          <strong>
          <% if message.from_ai? %>
            <%= 'DocStashAI' %>
          <% else %>
            <%= message.chat.user.user_name %></strong>
          <% end %>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.contents %></p>
      </div>
    <% end %>
  </div>

  <div class="input-section">
    <%= simple_form_for [@chat, @message],
    html: {
      class: "d-flex flex-row",
      data: {
        action: "turbo:submit-end->chat-subscription#resetForm" }
    } do |f| %>

      <%= f.input :contents,
        label: false,
        placeholder: "Message ##{@chat.chat_name}",
        wrapper_html: {class: "flex-grow-1"},
        input_html: {class: "form control" }
      %>
      <%= f.submit "Send", class: "btn btn-primary ml-2 " %><!-- Added margin-left for spacing -->
    <% end %>
</div>
