<div class="upload-container upload-form text-center">
  <%# <i class="fa-solid fa-cloud-arrow-up fa-xl"></i> %>
  <%# <p>Drag and Drop here</p> %>
  <%# <p>or</p> %>

  <%= simple_form_for @doc do |f| %>
    <%# <%= render "shared/image_form" %>
        <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="5" data-dropzone-accepted-files="image/*,.rtf,.txt,.pdf" data-dropzone-max-files="2" data-upload-multiple="true">
      <%# <%= f.input :image,as: :file, direct_upload: true, data: { dropzone_target: 'input' } %>
      <%= f.input :doc_asset, as: :file, direct_upload: true, label: false, input_html: { class: "simple-form", data: { dropzone_target: 'input', direct_upload_url: "/rails/active_storage/direct_uploads" }  }%>
      <div class="dropzone-msg dz-message needsclick">
      <i class="fa fa-upload" style="font-size:24px"></i>
      <h3 >Drag and Drop Here</h3>
      </div>
    </div>
    <div class="submit-button">
      <%= f.button :submit, "Submit", input_html: { class: "simple-form" } %>
    </div>
  <% end %>
</div>
