<div class="container chatroom" data-controller="chat-subscription" data-chat-subscription-chat-id-value="<%= @chat.id %>">
  <h1>#<%= @chat.chat_name %></h1>

  <div class="messages" data-chat-subscription-target="messages">
    <% @chat.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.chat.user.user_name %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.contents %></p>
      </div>
    <% end %>
  </div>

  <div class="input-section">
    <%= simple_form_for [@chat, @message], html: {class: "d-flex flex-column"} do |f| %>
      <%= f.input :contents,
        label: false,
        placeholder: "Message ##{@chat.chat_name}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mt-3 align-self-end" %>
    <% end %>
  </div>
</div>

<script>
  // Using vanilla JS for simplicity, but you can use any library/framework you prefer.
  const form = document.getElementById('chat-form')
  form.addEventListener('submit', function(e) {
    e.preventDefault();

    let message = e.target.elements['message'].value;
    console.log(message);
  // Use AJAX to send the message to the Rails backend
    fetch('/chats', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        // 'X-CSRF-Token': document.querySelector('[name="csrf-token"]').content
      },
      body: new FormData(form)
      //body: JSON.stringify({ chat: message })
    })
    .then(response => response.json())
    .then(data => {
      console.log(data);
      // Append the new chat to the chat list
      // let chatList = document.querySelector('.chat-list');
      // let newChat = document.createElement('div');
      // newChat.classList.add('chat-message');
      // newChat.innerHTML = `<strong>${data.user.name}:</strong> ${data.message}`;
      // chatList.appendChild(newChat);

      // // Clear the input field
      // e.target.elements['message'].value = '';
    });
  });
</script>
